<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BuildComponents"
                          publicKeyToken="ba59f1362a302f1c"
                          culture="neutral" />
        <codeBase version="2.5.10626.0"
                  href="d:\dev\OpenSource\Sandcastle\Sandcastle\Development\ProductionTools\BuildComponents.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>