/*
 * VS 2010 Presentation Template for Sandcastle
 *
 * Based on the MSDN Library Lightweight style.
 */

body {
	font-family:'Segoe UI', Verdana, Arial;
	font-size:80%;
	color:#000;
	margin:0;
	padding:0;
	min-width:500px;
	background-color:#fff
}


a {
	color:#2178e0;
	text-decoration:none
}

a:link, a:visited {
	color:#2178e0
}

a:hover, a:active {
	color:#2178e0;
	text-decoration:underline
}

a img {
	border:none
}

/**
 * Header
 */

.lw_bannerOuter {
	background-image:url(../Images/lightweight_topnav_slice.gif);
	background-repeat:repeat-x;
	height:30px
}

.lw_banner {
	background-color:Transparent;
	background-image:url(../Images/lightweight_topnav.png);
	background-repeat:no-repeat;
	background-position:right;
	border-bottom:solid 1px #bbb;
	border-top:solid 1px #bbb;
	height:28px;
}

.lw_banner p {
	margin: 0 10px;
}

.lw_tabs {
	position:absolute;
	top:6px;
	color:#fff;
	width: 100%;
}

.lw_tab a {
	color:#fff!important
}

.lw_tab, .lw_selectedTab {
	height:21px;
	float:left;
	padding-left:11px;
	padding-right:11px
}

/**
 * Left navigation
 */
.OH_leftNav {
	float:left;
	left:0;
	width:280px;
	background-color:White;
	margin-right:1px;
	overflow:hidden;
	border-bottom:solid 1px #b8b8bb;
	padding-top:6px
}

#toc {
	width:230px
}

/**
 * Search
 */
 
.SearchWrapper {
	width:256px;
	margin-left:12px;
	margin-right:12px;
	height:24px
}

.lt_image {
	float:left;
	top:0
}

.SearchPanel {
	background-image:url(../Images/slice_Search.gif);
	background-repeat:repeat-x;
	float:left;
	font-style:italic;
	height:26px
}

.SearchBox, .SearchBoxActive {
	float:left;
	padding-left:1px;
	padding-right:1px;
	padding-top:4px;
	display:inline;
	width:226px;
	line-height:12px;
	font-size:11px;
	font-style:italic;
	border-width:0;
	margin-top:1px;
	margin-bottom:1px;
	height:16px
}

.SearchBox, .SearchBox2 {
	color:#d6d6d6
}

.SearchButton {
	margin-left:1px;
	vertical-align:middle;
	margin-top:2px
}

.SearchButton img {
	text-decoration:none;
	cursor:pointer
}

.rt_image {
	float:left;
	top:0
}

/**
 * Content
 */

.OH_outerDiv {
	background-color:#fff
}

.OH_outerContent {
	_width:100%;
	float:none;
	overflow:hidden;
	padding-left:13px;
	border-left:solid 1px #b8b8bb;
	border-bottom:solid 1px #b8b8bb;
}

div.OH_topic {
	padding:18px 0
}

/**
 * Tables
 */
div.OH_outerContent div#mainSection table {
	border-collapse:collapse;
	border:1px solid #bbb;
	margin-bottom:5px;
	margin-top:5px;
	margin-right:13px;
	padding:0;
	width:auto
}

div.OH_outerContent div#mainSection table th {
	background-color:#e5e5e5;
	font-size:120%;
	text-align:left;
	padding-left:13px
}

.tableSection table th {
	border:1px solid #bbb;
	color:#000;
	background-color:#e5e5e5;
	padding-left:13px;
	padding-right:13px;
	vertical-align:middle;
	text-align:left;
	font-size:120%;
	height:21px;
	font-style:normal;
	font-weight:normal
}

.tableSection table p {
	margin:0
}

div.OH_outerContent div#mainSection table td {
	border:1px solid #bbb;
	color:#000;
	padding:13px;
	VERTICAL-ALIGN:top
}

/**
 * Titles
 */
.OH_title {
	font-size:17pt;
	font-weight:bold;
	color:#3f529c;
	padding:0;
	text-align:left;
	margin: 0
}

h3 {
	font-size:1.1em;
	font-weight:bold
}

h4 {
	font-size:100%
}

.subHeading {
	font-weight:bold;
	margin:0
}

/**
 * Region titles
 */
 
.regionArea {
	/*height:20px;*/
	margin:12px 0 8px 0;
}
.regionhr {
	border:1px solid #e5e5e5;
	color:#e5e5e5;
	margin-left:4px
}
.regiontitle {
	font-size:160%;
	font-weight:bold;
	color:#3f529c;
	float:left;
	padding:0 4px 0 0;
	margin:0;
	z-index:2
}
.hrdiv {
	padding-top:12px;
	padding-left:4px
}

ul.seeAlsoStyle {
	padding:0;
	margin: 0;
	list-style: none;
}
ul.seeAlsoStyle li {
	padding: 0 0 5px 0;
	margin: 0;
}

/**
 * Topic metadata
 */
.topicMetaVersion {
	font-family:'Segoe UI', Verdana, Arial;
	color:#7d7d7d;
	font-size:10pt;
	margin: 0;
}
.topicMetaVersion strong {
	padding-right:5px;
	padding-left:5px;
	color:#e66a38;
	font-weight:normal
}

.topicMetaVersion a {
	padding-right:5px;
	padding-left:5px;
	color:#2178e0
}

/**
 * Notes
 */
div#mainBody div.alert {
	width: 98.9%;
	padding-bottom: 0.82em;
}

div#mainBody div.alert TH {
	text-align:left;
	padding-left:11px;
	padding-bottom:0;
	background-color:#fcfec5!important;
	border-bottom-style:hidden
}
div#mainBody div.alert TH img {
	padding-right:11px
}
div#mainBody div.alert TD {
	background-color:#fcfec5;
	padding-left:11px!important;
	padding-bottom:0!important;
	padding-top:0!important;
	border-top-width:0!important
}
div#mainBody div.alert TD p {
	margin-top:0
}

/**
 * Footer
 */

.footerline {
	border-top: 1px solid #e5e5e5;
	/*width:100%;*/
	padding-top:4px;
	padding-left:13px;
	padding-bottom:13px;
	background-color:#f1f1f1
}

.footerpipe {
	color:silver
}