<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                   Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <unity>
    <typeAliases>
      <typeAlias alias="IExternalResolver"
                 type="Microsoft.Ddue.Tools.IExternalReferenceResolver, BuildComponents" />
      <typeAlias alias="JavadocType"
                 type="Izsaknet.Sandcastle.Tools.JavadocResolver, Izsaknet.Sandcastle" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="IExternalResolver" mapTo="JavadocType" name="javadoc" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>