<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ColorizerLibrary" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <ColorizerLibrary>
    <add key="syntax" value="highlight.xml" />
    <add key="style" value="highlight.xsl" />
  </ColorizerLibrary>
</configuration>