
<!--
  Sandcastle configuration file
  Tests transformation of Namespace reference documentation into HTML document.
-->
<configuration>
  <dduetools>
    <builder>
      <components>

        <!-- transform -->
        <component type="Microsoft.Ddue.Tools.TransformComponent" assembly="%DXROOT%\ProductionTools\BuildComponents.dll">
          <transform file="%VS2010P%\Transforms\main_sandcastle.xsl">
            <argument key="metadata" value="true" />
            <argument key="languages">
              <language label="CSharp" name="CSharp" style="cs" />
            </argument>
          </transform>
        </component>

        <!-- resolve shared content -->
        <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="%DXROOT%\ProductionTools\BuildComponents.dll">
          <content file="%VS2010P%\content\shared_content.xml" />
          <content file="%VS2010P%\content\reference_content.xml" />
          <content file="%DXROOT%\Presentation\shared\content\syntax_content.xml" />
          <content file="%VS2010P%\content\feedback_content.xml" />
        </component>


        <!-- resolve reference links -->
        <component type="Microsoft.Ddue.Tools.ResolveReferenceLinksComponent2" assembly="%DXROOT%\ProductionTools\BuildComponents.dll">
          <targets base="%DXROOT%\Data\Reflection" recurse="true" files="*.xml" type="msdn" />
          <targets files=".\reflection.xml" type="local" />
        </component>

        <!-- save the result -->
        <component type="Microsoft.Ddue.Tools.SaveComponent" assembly="%DXROOT%\ProductionTools\BuildComponents.dll">
          <save base=".\Output\html"
                path="concat(/html/head/meta[@name='file']/@content,'.htm')"
                indent="true"
                omit-xml-declaration="true" />
        </component>

      </components>
    </builder>
  </dduetools>
</configuration>
