<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                   Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BuildComponents"
                          publicKeyToken="ba59f1362a302f1c"
                          culture="neutral" />
        <codeBase version="2.5.10626.0"
                  href="d:\dev\OpenSource\Sandcastle\Sandcastle\Development\ProductionTools\BuildComponents.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <unity>
    <typeAliases>
      <typeAlias alias="IExternalResolver"
                 type="Microsoft.Ddue.Tools.IExternalReferenceResolver,
                       BuildComponents, Version=2.5.10626.0, Culture=neutral, PublicKeyToken=ba59f1362a302f1c" />
      <typeAlias alias="JavadocType"
                 type="Izsaknet.Sandcastle.Tools.JavadocResolver,
                       Izsaknet.Sandcastle, Version=1.0.0.0, Culture=neutral, PublicKeyToken=148384d575fbf776" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="IExternalResolver" mapTo="JavadocType" name="javadoc">
            <typeConfig
              extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,
                             Microsoft.Practices.Unity.Configuration">
              <property name="JavadocUrl" propertyType="System.String">
                <value value="http://java.sun.com/javase/6/docs/api" />
              </property>
            </typeConfig>
          </type>
        </types>

      </container>
    </containers>
  </unity>
</configuration>